Flask
Flask-SQLAlchemy
SQLAlchemy
openpyxl
pandas
gunicorn
psycopg2-binary
bcrypt
flask-login
Flask-WTF
rembg[cpu]
aiohttp
aiofiles
Pillow
requests
numpy
holidays
celery
redis
Flask-Migrate
python-dotenv
Flask-Caching